<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
">

    <bean id="target" class="aop.Target"></bean>

    <bean id="myAspect" class="aop.MyAspect"></bean>

    <aop:config>
        <!--        声明切面-->
        <aop:aspect ref="myAspect">
<!--            <aop:before method="before" pointcut="execution(public void aop.Target.save())"/>-->
<!--            <aop:after method="after" pointcut="execution(public void aop.Target.save())"/>-->
<!--            <aop:around method="around" pointcut="execution(public void aop.Target.save())"/>-->
            <aop:after-throwing method="throwing" pointcut="execution(public void aop.Target.save())"/>
        </aop:aspect>
    </aop:config>

</beans>